1.Perform the following operations using R/Python on suitable data sets: 
a) read data from different formats (like csv, xls) 
b) Find Shape of Data 
c) Find Missing Values 
d) Find data type of each column 
e) Finding out Zero's 
f) Indexing and selecting data, sort data,  
g) Describe attributes of data, checking data types of each column,  
h) counting unique values of data, format of each column, converting variable data type (e.g. 
from long to short, vice versa)

## Importing required libraries

In [1]:
# Importing required libraries
import pandas as pd
import numpy as np

## A) Reading data from a CSV file

In [3]:
# A) Reading data from a CSV file 
data = pd.read_csv("./wine-clustering - wine-clustering.csv")

## Displaying the first few rows of the dataset

In [4]:
# Displaying the first few rows of the dataset
print("Dataset Preview:")
print(data.head())

Dataset Preview:
   Alcohol  Malic_Acid   Ash  Ash_Alcanity  Magnesium  Total_Phenols  \
0    14.23        1.71  2.43          15.6        127           2.80
1    13.20        1.78  2.14          11.2        100           2.65
2    13.16        2.36  2.67          18.6        101           2.80
3    14.37        1.95  2.50          16.8        113           3.85
4    13.24        2.59  2.87          21.0        118           2.80

   Flavanoids  Nonflavanoid_Phenols  Proanthocyanins  Color_Intensity   Hue  \
0        3.06                  0.28             2.29             5.64  1.04
1        2.76                  0.26             1.28             4.38  1.05
2        3.24                  0.30             2.81             5.68  1.03
3        3.49                  0.24             2.18             7.80  0.86
4        2.69                  0.39             1.82             4.32  1.04

   OD280  Proline
0   3.92     1065
1   3.40     1050
2   3.17     1185
3   3.45     1480
4   2.93      735

## B) Finding the shape of the data

In [5]:
# B) Finding the shape of the data
print("Shape of the Data (Rows, Columns):")
print(data.shape)

Shape of the Data (Rows, Columns):
(178, 13)

## C) Checking for missing values in the dataset

In [6]:
# C) Checking for missing values in the dataset
print("Missing Values in Each Column:")
print(data.isnull().sum())

Missing Values in Each Column:
Alcohol                 0
Malic_Acid              0
Ash                     0
Ash_Alcanity            0
Magnesium               0
Total_Phenols           0
Flavanoids              0
Nonflavanoid_Phenols    0
Proanthocyanins         0
Color_Intensity         0
Hue                     0
OD280                   0
Proline                 0
dtype: int64

## D) Displaying data types of each column

In [7]:
# D) Displaying data types of each column
print("Data Types of Each Column:")
print(data.dtypes)

Data Types of Each Column:
Alcohol                 float64
Malic_Acid              float64
Ash                     float64
Ash_Alcanity            float64
Magnesium                 int64
Total_Phenols           float64
Flavanoids              float64
Nonflavanoid_Phenols    float64
Proanthocyanins         float64
Color_Intensity         float64
Hue                     float64
OD280                   float64
Proline                   int64
dtype: object

## E) Finding the count of zeros in each numeric column

In [8]:
# E) Finding the count of zeros in each numeric column
numeric_columns = data.select_dtypes(include=[np.number])  
zeros_count = (numeric_columns == 0).sum()

print("Number of Zeros in Each Numeric Column:")
print(zeros_count)

Number of Zeros in Each Numeric Column:
Alcohol                 0
Malic_Acid              0
Ash                     0
Ash_Alcanity            0
Magnesium               0
Total_Phenols           0
Flavanoids              0
Nonflavanoid_Phenols    0
Proanthocyanins         0
Color_Intensity         0
Hue                     0
OD280                   0
Proline                 0
dtype: int64

## F) Indexing and selecting specific columns

In [9]:
# F) Indexing and selecting specific columns
selected_columns = data[['Alcohol', 'Ash']]  
print("Selected Columns:")
print(selected_columns.head())

Selected Columns:
   Alcohol   Ash
0    14.23  2.43
1    13.20  2.14
2    13.16  2.67
3    14.37  2.50
4    13.24  2.87

## Sorting data by a specific column

In [10]:
# Sorting data by a specific column
sorted_data = data.sort_values(by='Alcohol')  # Replace 'Column1' with the column you want to sort by
print("Data Sorted by 'Alcohol':")
print(sorted_data.head())

Data Sorted by 'Alcohol':
     Alcohol  Malic_Acid   Ash  Ash_Alcanity  Magnesium  Total_Phenols  \
115    11.03        1.51  2.20          21.5         85           2.46
113    11.41        0.74  2.50          21.0         88           2.48
120    11.45        2.40  2.42          20.0         96           2.90
110    11.46        3.74  1.82          19.5        107           3.18
121    11.56        2.05  3.23          28.5        119           3.18

     Flavanoids  Nonflavanoid_Phenols  Proanthocyanins  Color_Intensity   Hue  \
115        2.17                  0.52             2.01             1.90  1.71
113        2.01                  0.42             1.44             3.08  1.10
120        2.79                  0.32             1.83             3.25  0.80
110        2.58                  0.24             3.58             2.90  0.75
121        5.08                  0.47             1.87             6.00  0.93

     OD280  Proline
115   2.87      407
113   2.31      434
120   3.39      625
110   2.81      562
121   3.69      465

## G) Describing the data attributes

In [11]:
# G) Describing the data attributes
print("Statistical Description of Numeric Data:")
print(data.describe())

# Checking data types again for confirmation
print("\nData Types of Each Column:")
print(data.dtypes)

Statistical Description of Numeric Data:
          Alcohol  Malic_Acid         Ash  Ash_Alcanity   Magnesium  \
count  178.000000  178.000000  178.000000    178.000000  178.000000
mean    13.000618    2.336348    2.366517     19.494944   99.741573
std      0.811827    1.117146    0.274344      3.339564   14.282484
min     11.030000    0.740000    1.360000     10.600000   70.000000
25%     12.362500    1.602500    2.210000     17.200000   88.000000
50%     13.050000    1.865000    2.360000     19.500000   98.000000
75%     13.677500    3.082500    2.557500     21.500000  107.000000
max     14.830000    5.800000    3.230000     30.000000  162.000000

       Total_Phenols  Flavanoids  Nonflavanoid_Phenols  Proanthocyanins  \
count     178.000000  178.000000            178.000000       178.000000
mean        2.295112    2.029270              0.361854         1.590899
std         0.625851    0.998859              0.124453         0.572359
min         0.980000    0.340000              0.130000         0.410000
25%         1.742500    1.205000              0.270000         1.250000
50%         2.355000    2.135000              0.340000         1.555000
75%         2.800000    2.875000              0.437500         1.950000
max         3.880000    5.080000              0.660000         3.580000

       Color_Intensity         Hue       OD280      Proline
count       178.000000  178.000000  178.000000   178.000000
mean          5.058090    0.957449    2.611685   746.893258
std           2.318286    0.228572    0.709990   314.907474
min           1.280000    0.480000    1.270000   278.000000
25%           3.220000    0.782500    1.937500   500.500000
50%           4.690000    0.965000    2.780000   673.500000
75%           6.200000    1.120000    3.170000   985.000000
max          13.000000    1.710000    4.000000  1680.000000

Data Types of Each Column:
Alcohol                 float64
Malic_Acid              float64
Ash                     float64
Ash_Alcanity            float64
Magnesium                 int64
Total_Phenols           float64
Flavanoids              float64
Nonflavanoid_Phenols    float64
Proanthocyanins         float64
Color_Intensity         float64
Hue                     float64
OD280                   float64
Proline                   int64
dtype: object

## H) Counting unique values in each column

In [12]:
# H) Counting unique values in each column
print("Count of Unique Values in Each Column:")
print(data.nunique())

# Displaying the format (data types) of each column in the dataset
print("\nFormat of columns : ")
print(data.dtypes)

# Converting variable data type (example: from float to int)
data['Magnesium'] = data['Magnesium'].astype(int)  # Replace 'NumericColumn' with an actual numeric column name
print("\nData Types After Conversion:")
print(data.dtypes)

Count of Unique Values in Each Column:
Alcohol                 126
Malic_Acid              133
Ash                      79
Ash_Alcanity             63
Magnesium                53
Total_Phenols            97
Flavanoids              132
Nonflavanoid_Phenols     39
Proanthocyanins         101
Color_Intensity         132
Hue                      78
OD280                   122
Proline                 121
dtype: int64

Format of columns :
Alcohol                 float64
Malic_Acid              float64
Ash                     float64
Ash_Alcanity            float64
Magnesium                 int64
Total_Phenols           float64
Flavanoids              float64
Nonflavanoid_Phenols    float64
Proanthocyanins         float64
Color_Intensity         float64
Hue                     float64
OD280                   float64
Proline                   int64
dtype: object

Data Types After Conversion:
Alcohol                 float64
Malic_Acid              float64
Ash                     float64
Ash_Alcanity            float64
Magnesium                 int32
Total_Phenols           float64
Flavanoids              float64
Nonflavanoid_Phenols    float64
Proanthocyanins         float64
Color_Intensity         float64
Hue                     float64
OD280                   float64
Proline                   int64
dtype: object